<!DOCTYPE html>
<html lang="en">
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
  <head>
    <meta charset="UTF-8" />
    <title>Message Lists</title>
  </head>
  <body>
    <table style="width:100%">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if notes %}
        {% for note in notes %}
        <tr>
            <td>{{ note.message_to }}</td>
            <td>{{ note.message_from }}</td>
            <td>{{ note.message_title }}</td>
            <td>{{ note.message_content }}</td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
  </body>
</html>
