@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

input[type=text] {
    width: 100%;
    background-color: white;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #5491ff;
    border-radius: 3px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 600;
}

input[type=text]:focus {
    background-color: #9dbffa;
}

input[type=submit] {
    width: 100%;
    background-color: #5491ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Noto Sans Mono', monospace;
}

input[type=submit]:hover {
    background-color: #92bafc;
}

#id_message_content {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #5491ff;
    border-radius: 3px;
    resize: none;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 600;
}

#id_message_content:focus {
    background-color: #7aaaff;
}

label {
    font-family: 'Noto Sans Mono', monospace;
}

h2 {
    text-align: center;
}

p {
    font-weight: 600;
    font-family: 'Noto Sans Mono', monospace;
}